:root {
  --mainfont: "Poppins", sans-serif;
  --maincolor: var(--green-bg);

}

.navbar a {
  font-family: var(--mainfont);
  line-height: 78.5%;
}

.navbar-icons img {
  width: 30px;
  height: 30px;

}

.search-box input {
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px 15px;
  width: 254px;
  outline: none;

}

.search-box input {
  background-color: #D9D9D9;
}

body {
  height: 5000px;
}

:root {
  --mainfont: "Poppins", sans-serif;
  --green-bg: #30433d;
}

/* ===== HERO SECTION ===== */


.hero {
  
  background-image: url("./../img/hero/banner.webp");
  background-size: contain;
  background-position:center ;
 background-repeat:no-repeat ;
min-height: 80vh;
display: flex;
align-items: center;
justify-content: center;
 overflow: hidden;
}
@media screen and (max-width:768px) {
  .hero{
    min-height: 50vh;
    margin-top: 40px;
    background-size:contain ;
  }
}

/*brand section*/

.brands{
  width: 100%;
  text-align: center;
  padding: 60px 0;
}
.brands img{
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width:768px) {
  .brands{
    padding: 10px 0;
  }
  .brands img{
    width: 95%;
  }
}



